# Commands for first execution

### Generate plots based on real data

The data on this folder is incomplete. Download the full data from http://hungria.imd.ufrn.br/~gfaraujo/alemanha/article-nov-1/figure-4b/ in the folders a1g9, a3g7, a5g5, a7g3 and a9g1. Do not replace lineplot-4b.py.

The command for registering the program must be like:

```
python /home/gfaraujo/testdata/figure-4b/lineplot-4b.py testParam=something
```
